.nav {
    overflow: hidden;
    background-color: rgb(24, 17, 17);
  }
  
  /* Navbar links */
  .nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    
  }
  
  /* Links - change color on hover */
  .nav a:hover {
    background-color: #ddd;
    color: black;
  }
  