*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    height: 100%;
  }
body{
    font-family: 'Raleway', sans-serif;
}
/*Styling main page where admin or a student get into the system*/
.container, .container2, .container3, .container4, .container5, .container0{
    background-image: url(images/Library\ 2.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.col1 .btn{
    text-align: center;
    display: inline-flex;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(170,216,218,1) 0%, rgba(36,152,176,1) 59%);
    color: #fff;
    padding: 50px 50px;
    margin: 30px;
    margin-top: 10%;
    margin-left: 40%;
    border-radius: 30px;
    transition: 0.5s;
}

.btn:hover{
    background: rgb(2,0,36);
    background: linear-gradient(4deg, rgba(2,0,36,1) 0%, rgba(225,221,209,1) 0%, rgba(36,152,176,1) 100%);
}
.col2 .btn{
    text-align: center;
    display: inline-flex;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(170,216,218,1) 0%, rgba(36,152,176,1) 59%);
    color: #fff;
    padding: 50px 50px;
    margin: 30px;
    margin-top: 1%;
    margin-left: 40%;
    border-radius: 30px;
    transition: 0.5s;
}

.btn:hover{
    background: rgb(2,0,36);
    background: linear-gradient(4deg, rgba(2,0,36,1) 0%, rgba(225,221,209,1) 0%, rgba(36,152,176,1) 100%);
}

/*ADMIN PAGE*/
.a1 .btn{
    display: inline-block;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(170,216,218,1) 0%, rgba(36,152,176,1) 59%);
    color: #fff;
    padding: 25px 80px;
    margin: 30px;
    margin-top: 2%;
    margin-left: 20%;
    border-radius: 30px;
}
.a1 .btn:hover{
    background: rgb(2,0,36);
    background: linear-gradient(4deg, rgba(2,0,36,1) 0%, rgb(68, 67, 65) 0%, rgba(36,152,176,1) 100%);
    transition: 0.5s;
}


/*ADMIN PAGE*/
.row1{
    width: 350px;
    height: 300px;
    position: relative;
    text-align: center;
    padding: 20px;
    margin: auto;
    margin-top: 5%;
    border-radius: 40px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(150, 213, 216) 0%, rgba(36,152,176,1));
    box-shadow: 0 0 10px 0px rgba(255, 254, 254, 0.884);
}

.h1{
    text-decoration: underline;
    color: rgb(0, 122, 126);
    font-family: cursive ;
    margin-left: 24%;
    font-size: 60px;
    font-weight: bolder;
    text-shadow: 2px 2px 4px #000000;
}
.row1 .msg1{
    color: rgb(195, 214, 214);
    flex-basis: auto;
    font-weight: bolder;
    font-size: 30px;
    margin-bottom: 5%;
    text-shadow: 2px 2px 4px #000000;
}
.row1 .btn{
    font-size: 25px;
    border-radius: 7px;
    cursor: pointer;
}
.adm{
    padding: 5px;
}

.adm1{
    height: 40px;
    width: 300px;
}

/*Student Page*/

.form-container{
    background: #fff;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    overflow: hidden;
}
.form-container span{
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
    margin-left: 30%;
    margin-top: 10%;
    font-size: 50px;
    font-weight: bolder;
    color: rgb(13, 188, 219);
    text-shadow: 2px 2px 4px #000000;
}
.form-btn{
    display: inline-block;
}
.form-container form{
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: transform 1s;
}
form input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}
.lgbtn, .rgbtn{
    border-radius: 25px;
}

form .btn{
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}
form .btn:focus{
  outline: none;  
}
#loginform{
    left: -300px;
}
#regform{
    left: 0;
}
form a{
    font-size: 12px;
}
#Indicator{
  width: 100px;
  border: none; 
  background: #ffa500; 
  height: 3px;
  margin-top: 8px;
  transform: translateX(100px);
  transition: transform 1s;
}
.logo{
    width: 100px;
    height: 50px;
    display: unset;
}
/*Navigation Bar of admin page*/

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    background-color: rgb(238, 255, 219);
    flex: 1;
    text-align: right;
}
nav ul{
    font-weight: bolder;
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}



.account-page{
    padding: 50px 0;
    background: radial-gradient(#ffd89b, #19547b);
}
.form-container{
    background: #fff;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    overflow: hidden;
}
.form-container span{
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}
.form-btn{
    display: inline-block;
}
.form-container form{
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: transform 1s;
}
form input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}
form .btn{
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}
form .btn:focus{
  outline: none;  
}
#loginform{
    left: -300px;
}
#regform{
    left: 0;
}
form a{
    font-size: 12px;
}
#Indicator{
  width: 100px;
  border: none; 
  background: #ffa500; 
  height: 3px;
  margin-top: 8px;
  transform: translateX(100px);
  transition: transform 1s;
}
*/

/*Student Login/Register Page*/

.containerr{
    display: flex;
}

section {
    position: relative;
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

section .containerr {
    position: relative;
    width: 800px;
    height: 500px;
    background: #ffffff;
    box-shadow: 0 15px 50px rgba(0,0,0,0.1);
    overflow: hidden;
}
section .containerr .user {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
}

section .containerr .user .imgBx {
    position: relative;
    width: 50%;
    height: 100%;
    background: #ffff00;
    transition: 0.5s;
}

section .containerr .user .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section .containerr .user .formBx {
    position: relative;
    width: 50%;
    height: 100%;
    background: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    transition: 0.5s;
}

section .containerr .user .formBx form  h2 {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    color: #555555;
}

section .containerr .user .formBx form input {
    position: relative;
    width: 100%;
    padding: 10px;
    background: #f5f5f5;
    color: #333333;
    border: none;
    outline: none;
    box-shadow: none;
    margin: 8px 0;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 300;
}

section .containerr .user .formBx form input[type="submit"] {
    max-width: 100px;
    background: #677eff;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.5sec;
}

section .containerr .user .formBx form .signup {
    position: relative;
    margin-top: 20px;
    font-size: 12px;
    letter-spacing: 1px;
    color: #555;
    text-transform: uppercase;
    font-weight: 600;
}

section .containerr .user .formBx form .signup a {
    font-weight: 600;
    text-decoration: none;
    color: #677eff;
}

section .containerr .singupBx {
    pointer-events: none;
}

section .containerr.active .singupBx {
    pointer-events: initial;
}

section .containerr .singupBx .formBx {
    left: 100%;
}

section .containerr.active .singupBx .formBx {
    left: 0;
}

section .containerr .singupBx .imgBx {
    left: -100%;
}

section .containerr.active .singupBx .imgBx {
    left: 0;
}





section .containerr .singinBx .formBx {
    left: 0;
}

section .containerr.active .singinBx .formBx {
    left: 100%;
}

section .containerr .singinBx .imgBx {
    left: 0;
}

section .containerr.active .singinBx .imgBx {
    left: -100%;
}

@media (max-width: 60rem) {
    section .containerr {
        max-width: 400px;
    }

    section .containerr .imgBx {
        display: none;
    }

    section .containerr .user .formBx {
        width: 100%;
    }
}

/*-----------Add Book----------------*/

input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  input[type=int]{
    width: 60%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .addbook {
    width: 30%;  
    margin-top: 6%;
    margin-left: 30%;  
    border-radius: 5px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(150, 213, 216) 0%, rgba(36,152,176,1));
    padding: 20px;
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }

  .sbtn{
      width: 100px;
  }

  .label{
      font-weight: bolder;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */ 
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
  